*.log
.DS_Store
.env
.env.backup
.env.*
!.env.example
/.codex
/.cursor/
/.idea
/.nova
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/data
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
var/